<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Detalhes do Armamento</h3>
  </div>
  <div class="panel-body">

    <p>
      <strong>Nome:</strong>
      <%= @armamento.nome %>
    </p>

    <p>
      <strong>Descricao:</strong>
      <%= @armamento.descricao %>
    </p>

    <p>
      <strong>Poder destruicao:</strong>
      <%= @armamento.poder_destruicao %>
    </p>

    <p>
      <strong>Quantidade:</strong>
      <%= @armamento.quantidade %>
    </p>
  </div>
  <div class="panel-footer">
    <%= link_to 'Editar', edit_armamento_path(@armamento), :class => "btn btn-info" %>
    <%= link_to 'Voltar', armamentos_path, :class => "btn btn-default" %>
  </div>
</div>
