<%= form_for(@soldado) do |f| %>
  <% if @soldado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soldado.errors.count, "error") %> prohibited this soldado from being saved:</h2>

      <ul>
      <% @soldado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :patente_id %><br>
    <%= f.collection_select :patente_id, @patentes, :id, :nome, include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
